//break-points
$tablets: 768px;
$phones: 480px;
$desktop-font-size: 18px;
$tablets-font-size: 15px;
$phones-font-size: 12px;
$d-t: $desktop-font-size / $tablets-font-size;
$t-m: $tablets-font-size / $phones-font-size;
$d-m: $desktop-font-size / $phones-font-size;



//font-weights
$light: 300;
$medium: 500;
$extra-bold: 800;

//colors
$white: #ffffff;
$white-opacity: rgba(255, 255, 255, 0.95);
$black: #000000;
$address-black: #010101;
$title-black: #0d0d0d;
$dark-brown: #281e1e;
$text-grey: #666666;
$light-grey: #f2f5f4;
$light-grey-bg: #f8faf9;
$social-grey: #b2b2b2;
$cross-light-grey: #c4c5c6;
$dark-grey: #2a2a29;
$dark-grey-opacity: rgba(47, 50, 52, 0.929);
$dark-grey-fnav: rgba(47, 50, 52, 0.99);
$title-dark-grey: #323232;
$slider-hover-dark-grey: #2f3234;
$btn-green: #0f5a47;
$btn-green-hover: #0b4d3c;
$golden-khaki: #dde3bd;
$light-green: #cfdeda;
$bg-light-blue: #61c4d9;
$light-blue-hover: #00accf;
$icon-light-blue: #aef5fe;


//normalize
@import "./misc/normalize.scss";

//setups
@import "./misc/media.scss";
@import "./misc/mixins.scss";
@import "./misc/fonts.scss";
@import "./misc/layout.scss";


//blocks
@import "./blocks/header.scss";
@import "./blocks/phone-num.scss";
@import "./blocks/logo.scss";
@import "./blocks/nav.scss";
@import "./blocks/fullscreen-nav.scss";
@import "./blocks/hero.scss";
@import "./blocks/btn.scss";
@import "./blocks/why.scss";
@import "./blocks/advantages.scss";
@import "./blocks/slider.scss";
@import "./blocks/reviews.scss";
@import "./blocks/review-snippet.scss";
@import "./blocks/order.scss";
@import "./blocks/form.scss";
@import "./blocks/fixed-menu.scss";
@import "./blocks/team.scss";
@import "./blocks/accordeon.scss";
@import "./blocks/menu.scss";
@import "./blocks/accordeon-menu.scss";
@import "./blocks/contacts.scss";
@import "./blocks/map.scss";
@import "./blocks/footer.scss";
@import "./blocks/social.scss";

