@mixin grey-text {
    color: $text-grey;
    font-size: rem(18px);
}

@mixin bg-slice ($width, $height, $url) {
    content: "";
    background: url($url) no-repeat;
    background-size: contain;
    width: $width;
    height: $height;
    position: absolute;
    z-index: 1;
}
