.accordeon {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    min-height: rem(444px);
}

.accordeon__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: rem(220px);
    position: relative;
}



.accordeon__collapsible--active {
    .accordeon__arrow-icon {
        transform: scaleY(-1);
        }
    .accordeon__info {
        height: auto;
        }
}

.accordeon__unfolder {
    width: 100%;
    text-align: center;
    position: relative;
    h3 {
        color: $title-dark-grey;
        font-size: rem(21px);
        font-weight: $medium;
        display: inline-block;
        margin-right: rem(5px);
    }
}

.accordeon__arrow-icon {
    height: rem(9px);
    width: rem(9px);
    fill: $btn-green;
    display: inline-block;
}

.accordeon__info {
    text-align: center;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: calc(100% + rem(12px));
    left: 0;
    right: 0;
    margin: auto;
    h4{
        color: $dark-brown;
        font-size: rem(18px);
        margin-bottom: rem(7px);
    }
    p {
        @include grey-text;
        font-weight: $light;
    }
    
}