.accordeon {
    display: flex;
    justify-content: space-between;
    // align-items: flex-start;
    @include tablets {
        flex-wrap: wrap;
        width: 60%;
        height: 70%;
        // align-content: space-between;
    }
    @include phones {
        width: 80%;
    }
}

.accordeon__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23.5%;
    position: relative;
    @include tablets {
        width: 45%;
    }
    @include phones {
        width: 40%;
    }
}

.accordeon__pic {
    width: 100%;
    margin-bottom: rem(30px);
    @include phones {
        margin-bottom: rem(20px);
    }
}

.accordeon__collapsible {
    @include phones {
        width: 120%;
    }
}


.accordeon__collapsible--active {
    .accordeon__arrow-icon {
        transform: scaleY(-1);
        }
    .accordeon__info {
        height: auto;
        }
}

.accordeon__unfolder {
    width: 100%;
    text-align: center;
    position: relative;
    h3 {
        color: $title-dark-grey;
        font-size: rem(21px);
        font-weight: $medium;
        display: inline-block;
        margin-right: rem(5px);
        @include phones {
            font-size: d-m(rem(21px));
        }
    }
}

.accordeon__arrow-icon {
    height: rem(9px);
    width: rem(9px);
    fill: $btn-green;
    display: inline-block;
}

.accordeon__info {
    text-align: center;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: calc(100% + rem(12px));
    left: 0;
    right: 0;
    margin: auto;
    h4{
        color: $dark-brown;
        font-size: rem(18px);
        margin-bottom: rem(7px);
        @include phones {
            font-size: d-t(rem(18px));
        }
    }
    p {
        @include grey-text;
        font-weight: $light;
        font-size: d-t(rem(18px));
    }
    
}