.accordeon-menu {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.accordeon-menu__item-collapsible {
    display: flex;
}

.accordeon-menu__item-collapsible--active {
    .accordeon-menu__info {
        width: rem(530px);
        padding: rem(65px) rem(125px) rem(10px) rem(30px);
    }
    
}

.accordeon-menu__unfolder {
    width: rem(100px);
    height: 100%;
    display: flex;
    flex-direction: column; //также можно делать абсолютом на случай будущих правок по расположению, подробнее в созвоне от 30.11
    justify-content: flex-end;
    align-items: center;
    padding-bottom: rem(42px);
    background-repeat: no-repeat;
    background-size: cover;
    @each $bg in (coconut, honey, berries) { //генерация пути к файлу фона на основании имени модификатора
        &--bg--#{$bg}{
            background-image: url("../img/bg/accordeon-collapsible-bg-#{$bg}.jpg");
        }
    }
    h3 {
        font-size: rem(48px);
        font-weight: $medium;
        color: $white;
        writing-mode: vertical-lr;
        transform:rotate(180deg);
    }
}

.accordeon-menu__info {
    position: relative;
    width: 0; 
    overflow: hidden;
    background-color: $dark-grey-opacity;
    
    p {
        font-size: rem(16px);
        line-height: rem(24px);
    }
}

.accordeon-menu__close-btn {
    position: absolute;
    top: rem(25px);
    right: rem(30px);
}

.accordeon-menu__close-icon {
    height: rem(18px);
    width: rem(18px);
    fill: $cross-light-grey;
}
  