.advantages {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: url("../img/bg/advantages-bg-three-dots.png") no-repeat 30.5% 20%, url("../img/bg/advantages-bg-three-dots.png") no-repeat 69.5% 20%;
    @include tablets {
        flex-direction: column;
        background: none;
    }

}

.advantages__snippet {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablets {
        // margin-bottom: 4.7%;
    }
    @include phones {
        flex-direction: row;
        margin-bottom: 10%;
    }
}

.advantages__icon-holder {
    width: rem(125px);
    height: rem(125px);
    background-color: $light-grey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: rem(35px);
    @include phones {
        height: d-m(rem(125px));
        width: d-m(rem(125px));
        margin-bottom: 0;
        margin-right: 5%;
    }  
}

.advantages__icon {
    fill: none;
    stroke: $dark-grey;
    stroke-width: 1;
    stroke-miterlimit: 10;
    //Вытащил следующие стили из svg-файлов, цвет поменял на нужный, без них нормально не отрисовывается
    height: rem(70px);
    width: rem(70px);
    @include phones {
        height: d-m(rem(70px));
        width: d-m(rem(70px));
    }  
}

.advantages__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include phones {
        align-items: flex-start;
    }  
    h3{   
        font-size: rem(27px);
        font-weight: bold;
        color: $black;
        margin-bottom: rem(20px);
        text-align: center;
        @include phones {
            font-size: d-m(rem(27px));
            text-align: left;
        }  
    }

    p {
        @include grey-text;
        // width: 30%;
        max-width: rem(285px);
        text-align: center; 
        @include tablets {
            max-width: 60%;
        }
        @include phones {
            font-size: d-m(rem(18px));
            text-align: left;
            max-width: d-m(rem(285px));
        }  
    }
}
