.footer {
    height: rem(90px);
}

.footer__container {
    display: flex;
    align-items: center;
    height: 100%;
}

.footer__info {
    width: 50%;
    address {
        color: $address-black;
        font-size: rem(21px);
        line-height: rem(24px);
        font-style: normal;
        margin-bottom: rem(5px);
    }
}

.footer__social {
    width: 50%;
    text-align: right;
}