.form {
    display: flex;
    margin: 0 auto;
    @include tablets {
        flex-direction: column;
        width: 65%;
        align-items: center;
    }
}

.form__col {
    flex: 1;
    margin-left: rem(20px);
    &:first-child {
        margin-left: 0;
    }
    @include tablets {
        width: 100%;
        margin-left: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: rem(15px);
}

.form__label { 
    flex: 1;
    margin-left: rem(20px);
    &:first-child {
        margin-left: 0;
    }
}

.form__label-title {
    color: $btn-green;
    font-size: rem(18px);
    line-height: rem(30px);
}

.form__input {
    width: 100%;
    padding: rem(20px) rem(0px) rem(20px) rem(10px);
    border: none;
    outline: rem(3px) solid transparent;
    &:focus {
        outline: rem(3px) solid $golden-khaki;
    }
}

.form__textarea {
    height: rem(180px);
    resize: none;
}

.form__options {
    margin-bottom: rem(40px);
    .form__row {
        margin-bottom: rem(12px);
    }
    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


.form__radio {
    position: relative;
    white-space: nowrap;
    margin-right: rem(25px);
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.form__radio-elem {
    display: none;
}

.form__radio-fake {
  width: rem(25px);
  height: rem(25px);
  border-radius: 50%;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: rem(0px);
    height: rem(0px);
    border-radius: 50%;
    background: $btn-green;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
  }
}

.form__radio-elem:checked {
    &+.form__radio-fake {
      &:after {
        width: rem(12.5px);
        height: rem(12.5px);
      }
    }
  }

.form__radio-title {
    display: inline-block;
    vertical-align: middle;
    margin-left: rem(10px);
}

.form__radio--checkbox {
    .form__radio-fake {
        border-radius: rem(0px);
    }
    .form__radio-elem {
        &+.form__radio-fake {
          &:after {
            display: none;
          }
        }
      }
}

.form__radio-elem--checkbox:checked {
    &+.form__radio-fake {
        border-radius: rem(0px);
        .form__checkbox-icon {
            fill: $btn-green;
        }
    }
    
}

.form__checkbox-icon {
    width: rem(12.5px);
    height: rem(12.5px);
    fill: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
}

.form__buttons {
    @include tablets {
        display: flex;
        justify-content: center;
    }
}

.form__submit {
    margin-right: rem(30px);
}

.form__reset {
    color: $btn-green;
    font-size: rem(18px);
    line-height: rem(30px);
}