.fullscreen-nav {
    background: $dark-grey-fnav;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0; 
    z-index: 100;
    padding-top: 15%;
    display: none;  
}


.fullscreen-nav__item {
    text-align: center;
}


.fullscreen-nav__link {
    text-decoration: none;
    color: $white;
    font-size: d-t(rem(36px));
    line-height: d-t(rem(72px));
}

.fullscreen-nav__close-btn {
    position: absolute;
    top: 2.5%;
    right: 3.6%;
}

.fullscreen-nav__close-icon {
    fill: $cross-light-grey;
    width: d-t(rem(18px));
    height: d-t(rem(18px));
}