.header {
    width: 100%;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu-icon {
    height: 22px;
    width: 24px;
    fill: $white;
    display: none;
    @include tablets {
        display: block;
    }
}
