.hero {
    background: $bg-light-blue url("../img/bg/hero-bg-branch.png") no-repeat right;
    padding-top: rem(24px);
    padding-bottom: rem(45px);
    @include tablets {
        background-size: 70%;
        background-position-y: top;
        padding-top: 2.5%;
        padding-bottom: 4.5%;
    }
    &::after {
        @include bg-slice(rem(57px), rem(98px), "../img/bg/bg-single-leaf.png");
        bottom: rem(-45px);
        left: 2.8vw;
        @include tablets {
            display: none;
            // background-size: 50%;
        }
    }
}

.hero__inner {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tablets {
        align-items: center;
    }
}

.hero__main {
    display: flex;
    // justify-content: space-between;
    @include tablets {
        flex-direction: column;
        align-items: center;
    }
    width: 100%;
}

.hero__promo {
    margin-right: 7.3%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: rem(90px);
    @include tablets {
        max-width: rem(450px);
        margin-right: 0;
        align-items: center;
        margin-top: 0%;
    }
}

.hero__product {
    position: relative;
    @include tablets {
        order: -1;
        margin-bottom: 10%;
        width: 55%;
    }

    &::after {
        @include bg-slice(rem(414px), rem(341px), "../img/bg/hero-berries.png");
        bottom: rem(-117px);
        right: 0px;
        @include tablets {
            width: 80%;
            top: 45%;
            left: 20%;
        }
    }

    &::before {
        @include bg-slice(rem(41px), rem(32px), "../img/bg/hero-blueberry.png");
        bottom: rem(-20px);
        left: rem(50px);
        @include tablets {
            @include bg-slice(rem(74px), rem(201px), "../img/bg/hero-blueberry-leaf.png");
            top: 35%;
            left: -3%;
            }
        }
        
    }

.hero__product-pic {
    max-width: 45.7vw;
    @include tablets {
        width: 100%;
        height: auto;
    }
}

.hero__title {
    font-size: rem(60px);
    line-height: rem(60px);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: rem(10px);
    @include tablets {
        text-align: center;
        font-size: d-m(rem(42px));
        line-height: d-m(rem(37px));
    }
    @include tablets {
        margin-bottom: 1.5%;
    }
    
}

.hero__info {
    font-size: rem(21px);
    text-transform: none;
    font-weight: normal;
    line-height: 1.2;
    max-width: 84%;
    margin-bottom: rem(30px);
    @include tablets {
        font-size: rem(25px);
        text-align: center;
        margin-bottom: 5%;
    }
    @include phones {
        font-size: rem(23px);
        text-align: center;
        margin-bottom: 3%;
    }
}

.hero__features {
    display: flex;
    justify-content: space-between;
    width: rem(480px);
    @include tablets {
        width: 77%;
    }
    @include phones {
        width: 100%;
    }
}

.hero__feature-snippet {
    font-size: rem(16px);
    display: flex;
    justify-content: flex-end;
    margin-right: rem(45px);
    @include tablets {
        margin-right: 0;
        font-size: d-t(rem(16px));
    }
    @include phones {
        width: 30%;
    }
}

.feature-snippet__info {
    // width: rem(70px);
    width: 55%;
}

.hero__feature-icon {
    width: rem(50px);
    height: rem(50px);
    //Вытащил следующие стили из svg-файлов, цвет поменял на нужный, без них нормально не отрисовывается
    fill: none;
    stroke: $icon-light-blue;
    stroke-width: 0.7;
    stroke-miterlimit: 10;
    margin-right: rem(8px);
}