.order {
    background: $light-green url("../img/bg/order-bg.jpg") no-repeat;
    background-size: cover;
}

.order__inner {
    position: relative;
    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}

.order__overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: $dark-grey-fnav;
    z-index: 50;
    display: none;
}

.order__modal {
    width: rem(300px);
    min-height: rem(170px); //если ставить нечётное число, то в хроме блюрит текст из - за translate ¯\_(ツ)_/¯ 
    background: $white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 60;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order__modal-message {
    font-size: 18px;
    color: $black;
    line-height: 30px;
    margin-bottom: 5%;
}