.review-snippet {
    min-height: 345px;
    background: url("../img/bg/review-bg-half-circle.jpg") no-repeat top center, #f8faf9 url("../img/bg/review-bg-branch.jpg") no-repeat top right, ;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 45px;
    display: none;

    &--active {
        display: flex;
    }
}

.review-snippet__userpic {
    margin-right: 25px;
}

.review-snippet__content {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.review-snippet__title {
    margin-bottom: 25px;
    margin-right: auto;
    h3 {
        font-size: 30px;
        color: $title-dark-grey;
        font-weight: $medium;
    }
}

.review-snippet__text {
    @include grey-text;
}

.review-snippet__author {
    @include grey-text;
}
