.review-snippet {
    min-height: rem(345px);
    background: url("../img/bg/review-bg-half-circle.jpg") no-repeat top center, #f8faf9 url("../img/bg/review-bg-branch.jpg") no-repeat top right, ;
    flex-wrap: wrap;
    align-items: center;
    padding-left: rem(45px);
    display: none;

    &--active {
        display: flex;
    }
}

.review-snippet__userpic {
    margin-right: rem(25px);
}

.review-snippet__content {
    width: rem(500px);
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.review-snippet__title {
    margin-bottom: rem(25px);
    margin-right: auto;
    h3 {
        font-size: rem(30px);
        color: $title-dark-grey;
        font-weight: $medium;
    }
}

.review-snippet__text {
    @include grey-text;
}

.review-snippet__author {
    @include grey-text;
}
