.reviews {
    padding-top: rem(60px);
    
    &::before {
        @include bg-slice(rem(150px), rem(86px), "../img/bg/reviews-bg-top-berries.png");
        top: 5.5vh;
        right: 1.3vw;
    }

    &:after {
        @include bg-slice(rem(139px), rem(288px), "../img/bg/reviews-bg-left-bottom-berries.png");
        left: 0;
        bottom: rem(-130px);
    }
}


.reviews__title {
    margin-bottom: rem(35px);
    text-align: center;
}

.reviews__slider {
    margin-bottom: rem(20px);
}

.reviews__switcher {
    display: flex;
    justify-content: center;
}

.reviews__switch-btn--selected {
    .reviews__small-pic {
        border: rem(5px) solid $btn-green;
        &:hover {
            box-shadow: none;
        }
    }
 }

.reviews__small-pic {
    width: rem(65px);
    height: rem(65px);
    border-radius: 50%;
    box-sizing: content-box;
    border: rem(5px) solid transparent;
    &:hover {
        box-shadow: 0 0 rem(5px) $black;
    }
        
}