.reviews {
    padding-top: 60px;
    
    &::before {
        @include bg-slice(150px, 86px, "../img/bg/reviews-bg-top-berries.png");
        top: 5.5vh;
        right: 1.3vw;
    }

    &:after {
        @include bg-slice(139px, 288px, "../img/bg/reviews-bg-left-bottom-berries.png");
        left: 0;
        bottom: -130px;
    }
}


.reviews__title {
    margin-bottom: 35px;
    text-align: center;
}

.reviews__slider {
    margin-bottom: 20px;
}

.reviews__switcher {
    display: flex;
    justify-content: center;
}

.reviews__switch-btn--selected {
    .reviews__small-pic {
        border: 5px solid $btn-green;
        &:hover {
            box-shadow: none;
        }
    }
 }

.reviews__small-pic {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    box-sizing: content-box;
    border: 5px solid transparent;
    &:hover {
        box-shadow: 0 0 5px $black;
    }
        
}