.slider {
    background: $light-grey-bg;
}

.slider__inner {
    position: relative;
}

.slider__arrow {
    position: absolute;
    top: 50%;
    outline: none;
    &--pos--left {
        left: -5%;
    }
    &--pos--right {
        right: -5%;
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
    }
}

.slider__arrow-icon {
    height: rem(32px);
    width: rem(32px);
    fill: $title-black;
}

.slider__item {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero__product-pic {
    max-width: 39vw;
}

.slider__content {
    display: flex;
    flex-direction: column;
    width: 42%;
}

.slider__composition-holder {
    height: rem(90px);
    width: rem(90px);
    background: $bg-light-blue;
    border-radius: 5px;
    margin-bottom: 6%; 
    font-size: rem(14px);
    font-weight: $extra-bold;
    font-style: italic;
    text-transform: uppercase;
    outline: none;
    position: relative;
         
}

.slider__composition-holder:hover {
    background: $light-blue-hover;
    .slider__composition-list {
        display: block;
    }
}


.slider__composition-icon {
    height: rem(50px);
    width: rem(50px);
    fill: $white;
    margin-bottom: rem(5px);
}

.slider__composition-list {
    position: absolute;
    width: rem(270px);
    height: rem(382px);
    background: $white;
    border-radius: 5px;
    top: 0;
    left: 100%;
    // display: none;
}

.slider__composition-item-pic {
    width: rem(35px);
    height: rem(35px);
    fill: $title-dark-grey;
}


.slider__info {
    h3 {
        color: $title-black;
        font-size: rem(36px);
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 4%; 
    }
    p {
        @include grey-text;
        margin-bottom: 7%;
    }
}

.slider__row {
    display: flex;
    width: 100%;
    margin-bottom: 6%;
    &:last-child {
        margin-bottom: 0;
    }  
}

.slider__spec {
    width: 50%;
    color: $title-dark-grey;
    font-size: rem(18px);
    display: flex;
    flex-direction: column;
    span {
        margin-bottom: 2.5%;
    }
}

.slider__price {
    font-size: rem(60px);
    line-height: rem(60px);
    color: $title-black;
    font-weight: $light;
    margin-right: 7%;
}

