.social__item {
    margin-left: rem(20px);
    display: inline-block;
}

.social__icon {
    width: rem(20px);
    height: rem(20px);
    fill: $social-grey;    
    &:hover {
        fill: $black;
    }
}

.social__link:hover {
    .social__icon {
    fill: $black;
    }
}

