.team {
    background: $white url("../img/bg/team-branch-top-right.png") no-repeat top right;
    position: relative;
    &::after {
        @include bg-slice(rem(83px), rem(90px), "../img/bg/team-raspberry-bottom-left.png");
        bottom: rem(-44px);
        left: rem(36px);
    }
    @include tablets {
        background-size: 30%;
    }
}

.team__inner {
    height: 100%;
    padding-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablets {
        // padding-top: 0;
        justify-content: center;
    }
}

.team__title {
    text-align: center;
    margin-bottom: rem(50px);
}