.why {
    background: $white url("../img/bg/why-bg-leaf.png") no-repeat left 30%;
    &::after {
        @include bg-slice(rem(161px), rem(232px), "../img/bg/why-bg-raspberries.png");
        bottom: rem(-110px);
        left: 0;
        @include phones {
            display: none;
        }
    }
    @include phones {
        background-image: none;
    }
}

.why__inner {
    // height: 100%;
}

.why__promo {
    text-align: center;
    margin-bottom: rem(50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    @include phones {
        margin-bottom: 10%;
    }
    
}

.why__title {
    text-align: center;
    margin-bottom: rem(10px);
}

.why__description {
    @include grey-text;
    text-align: center;
    max-width: rem(415px);
    font-weight: $light;
    @include phones {
        max-width: 100%;
        font-size: d-m(rem(18px));
    }
}
