.header {
    width: 100%;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu-icon {
    height: rem(26px);
    width: rem(28px);
    fill: $white;
    display: none;
    @include tablets {
        display: block;
        height: rem(30px);
        width: rem(32px);
    }
}

.header__phone-num {
    @include tablets {
        display: none;
    }
}
