.logo {
    font-family: "Museo Sans Cyrl 500";
    font-weight: $medium;
    font-size: rem(24px);
    line-height: rem(21px);
    text-transform: uppercase;
    width: rem(55px);
    word-wrap: break-word;
    @include tablets {
        font-size: rem(26px);
        line-height: rem(23px);
        width: rem(66px);
    }
}