.review-snippet {
    min-height: rem(345px);
    background: url("img/bg/review-bg-half-circle.jpg") no-repeat top center, $light-grey-bg url("img/bg/review-bg-branch.jpg") no-repeat top right, ;
    align-items: center;
    padding-left: 4.5%;
    padding-right: 4.5%;
    display: none;
    position: relative;

    &--active {
        display: flex;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
    }

    @include tablets {
        flex-direction: column;
        justify-content: center;
        min-height: rem(720px);
    }
    @include phones {
        min-height: 100%;
        padding-top: 10%;
    }
}

.review-snippet__userpic {
    width: rem(254px);
    margin-right: rem(25px);
    @include tablets {
        margin-right: 0;
        margin-bottom: 5%;
    }
    @include phones {
        width: 30%;
    }
}

.review-snippet__content {
    max-width: rem(500px);
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    @include tablets {
        width: 75%;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
    @include tablets {
        width: 85%;
    }
}

.review-snippet__title {
    margin-bottom: 3%;
    margin-right: auto;
    h3 {
        font-size: rem(30px);
        color: $title-dark-grey;
        font-weight: $medium;
        @include tablets {
            text-align: center;
        }
    }
    @include tablets {
        text-align: center;
        margin-right: 0;
    }
}

.review-snippet__text {
    @include grey-text;
    margin-bottom: 5%;
    @include phones{
        font-size: d-m(rem(15px));
    }
}

.review-snippet__author {
    @include grey-text;
    @include phones{
        margin-bottom: 0;
        font-size: d-m(rem(15px));
    }
}
