.team {
    background: $white url("img/bg/team-branch-top-right.png") no-repeat top right;
    position: relative;
    &::after {
        @include bg-slice(rem(83px), rem(90px), "img/bg/team-raspberry-bottom-left.png");
        bottom: rem(-44px);
        left: rem(36px);
        @include phones {
            left: 3%;
        }
    }
    @include tablets {
        background-size: 30%;
    }
}

.team__inner {
    height: 100%;
    padding-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablets {
        justify-content: center;
        padding-top: 5%;
    }
    @include phones {
        justify-content: flex-start;
    }
}

.team__title {
    text-align: center;
    margin-bottom: rem(50px);
    @include tablets {
        margin-bottom: 4.5%;
    }
}